#canvas {
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#canvasParent {
	background-image: url(../images/graph-paper-background.gif);
	border-top-style: solid;
	border-top-color: gray;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.noNote:hover {
	background-color: #D4D4D4;
	cursor: pointer;
}

#canvasButtons {
	width: 100%;
	background-color: gray;
}

.canvasButton {
	display: inline-block;
}

.annotated {
	background-color: #CEE7F5;
}

.annotated:hover {
	background-color: #A2CAF5;
	cursor: pointer;
}