#canvas {
	width: 100%;
	display: block;
}

#canvasParent {
	background-image: url(../images/graph-paper-background.gif);
	/*border-top-style: solid;
	border-top-color: gray;*/
	box-shadow: 0px 0px 8px #888888;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.noNote:hover {
	background-color: #D4D4D4;
	cursor: pointer;
}

#canvasButtons {
	border-radius: 4px;
  	box-shadow: 0px 0px 5px 3px #888888;
	width: 208px;
	padding: 5px;
	margin: 10px;
	background-color: white;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.canvasButton {
	display: inline-block;
}

.annotated {
	background-color: #CEE7F5;
}

.annotated:hover {
	background-color: #A2CAF5;
	cursor: pointer;
}

.active {
	background-color: #A2CAF5;
}