html, body {
	background-color: #141821;
	height: 100%;
	font-family: "RobotoLight";
}

h1 {
	font-family: 'RobotoMedium';
	font-size: 45px;
	font-weight: normal;
}

.container {
	background-color: #fff;
}

.btn.sidebar {
	text-align: center;
	width: 85%;
}

.table {
	font-size: 18px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.glyphicon {
	color: DarkGray;
	margin-left: 8px;
}

#header {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #3B424C;
	margin-bottom:3em;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	border: 2px;
}

.profilepic {
	height: 2.8em;
}

.row.sidebar {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.twitter-typeahead {
    width: 100%;
}
.tt-dropdown-menu{
    width: 102%;
}
.typeahead.tt-input {
	width: 100%;
}

#searchbox {
	padding-bottom: 3em;
	margin: 0 20px 0 20px;
}
