h1 {
	font-size: 45px;
}

#mainContainer {
	background-color: #fff;
}

.btn.sidebar {
	text-align: center;
	width: 85%;
}

.table {
	font-size: 18px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.glyphicon {
	color: DarkGray;
	margin-left: 8px;
}

.profilepic {
	height: 2.8em;
}

.row.sidebar {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.twitter-typeahead {
    width: 100%;
}
.tt-dropdown-menu{
    width: 102%;
}
.typeahead.tt-input {
	width: 100%;
}

#searchbox {
	padding-bottom: 3em;
	margin: 0 20px 0 20px;
}
