html, body {
	background-color: #141821;
	height: 100%;
	font-family: "RobotoLight";
}

h1 {
	font-family: 'RobotoMedium';
	font-size: 36px;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
}

.container {
	background-color: #fff;
	padding-bottom: 48px;
}

.checkbox {
	padding-bottom: 10px;
}

.form-question {
	font-size: 1.5em;
}

#header {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #3B424C;
	margin-bottom:3em;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	border: 2px;
}

.page-header {
	background: #353a43;
	color: #ffffff;
	font-weight: 300;
	margin: 0 !important;
	padding-bottom: 0.25em ;
	padding-top: 0.25em ;
	text-align: center;
}

.class-standing {
	padding-left: 0 !important;
}
