<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
	<head>
		<title>Auctora</title>
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/typeahead.bundle.min.js"></script>
    <script src="../js/candidateList.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/rating.css">
    <link rel="stylesheet" href="../css/typeaheadjs.css">
    <link rel="stylesheet" href="../css/candidateList.css">
	</head>
  <body>
    <div class="container">
      <div id="header" class="row">
        <h1>Auctora</h1>
      </div>

      <div id="main" class="row fill">
        <div id="sidebar" class="col-md-3">
          <div class="row">
            <div id="searchbox">
              <input class="typeahead" type="text" placeholder="Search for students">
            </div>
          </div>
          <div class="row sidebar">
            <button type="button" class="btn btn-primary sidebar center-block">Email All</button>
          </div>
          <div class="row sidebar">
            <button type="button" class="btn btn-primary sidebar center-block">Categorize</button>
          </div>
          <div class="row sidebar">
            <button type="button" class="btn btn-primary sidebar center-block">Export</button>
          </div>

        </div>

        <div id="candidates" class="col-md-9">
          <table class="table table-hover">
            <tr>
              <th></th>
              <th class="vert-align">Name</th>
              <th class="vert-align">Rating</th>
              <th></th>
            </tr>
            {% for profile in profiles %}
            <tr>
              <td class="vert-align">
                <img src="{{profile.pictureUrl}}" alt="studentPic" class="profilepic">
              </td>
              <td class="vert-align">
                <a href="/profile?id={{profile.id}}">{{profile.fname}} {{profile.lname}}</a>
              </td>
              <td class="vert-align">
                <div class="acidjs-rating-stars">
                  <form id="starsForm">
                    <input {% if profile.stars == 5 %} checked {% endif %} type="radio" name="group-1" id="star5" value="5" />
                    <label for="star5"></label>
                    <input {% if profile.stars == 4 %} checked {% endif %} type="radio" name="group-1" id="star4" value="4" />
                    <label for="star4"></label>
                    <input {% if profile.stars == 3 %} checked {% endif %} type="radio" name="group-1" id="star3" value="3" />
                    <label for="star3"></label>
                    <input {% if profile.stars == 2 %} checked {% endif %} type="radio" name="group-1" id="star2" value="2" />
                    <label for="star2"></label>
                    <input {% if profile.stars == 1 %} checked {% endif %} type="radio" name="group-1" id="star1"  value="1" />
                    <label for="star1"></label>
                  </form>
                </div>
              </td>
              <td class="vert-align">
                <input type="checkbox" value="">
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
