<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

<head>
	<title>Auctora</title>
	<script src="../lib/js/jquery.min.js"></script>
	<script src="../lib/js/bootstrap.min.js"></script>
	<script src="../lib/js/typeahead.bundle.min.js"></script>
	<script src="../lib/js/jquery.tablesorter.min.js"></script>
	<script src="../js/home.js"></script>
	<link rel="stylesheet" href="../lib/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/rating.css">
	<link rel="stylesheet" href="../css/typeaheadjs.css">
	<link rel="stylesheet" href="../css/font.css">
	<link rel="stylesheet" href="../css/global.css">
	<link rel="stylesheet" href="../css/home.css">
	<link rel="stylesheet" href="../css/navbar.css">
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!-- Dropdown menu for mobile !-->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#auctora-collapse" id="navbarToggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://www.auctora.co/">Auctora</a>
			</div>
			<!-- Header items that will be in the dropdown menu on mobile !-->
			<div class="collapse navbar-collapse" id="auctora-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="/home">Candidate Rankings</a></li>
					<li><a>Settings</a></li>
					<li><a>Help</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<a role="button" class="btn btn-primary navbar-btn" href="/recruiterLogout">Log Out</a>
				</ul>
			</div>
		</div>
	</nav>
	<div class="modal fade" id="basicmodal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="title"></h4>
				</div>
				<div class="modal-body" id="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="cancelaction">Cancel</button>
					<button type="button" class="btn btn-primary" id="actionitem">Send</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<div id="email" style="display:none">
		<form>
			<div class="form-group">
				<label for="subj">Subject</label>
				<input type="email" class="form-control" id="subj" placeholder="Subject">
			</div>
			<div class "form-group">
				<label for="emailbody">Body</label>
				<textarea class="form-control" id="emailbody" rows="10">Thanks for coming to the career fair! After chatting with the engineers, we would like to move forward with your application! I'd like to get some more information from you to gain a better understanding of your interests and strengths.</textarea>
			</div>
		</form>
	</div>
	<div id="main">
		<div class="container" id="mainContainer">
			<div class="auctora-header row">
				<h1>Candidate Rankings</h1>
			</div>
			<div id="main" class="row fill">
				<div id="sidebar" class="col-md-3">
					<div class="row">
						<div id="searchbox">
							<input class="typeahead" type="text" placeholder="Search for students">
						</div>
					</div>
					<div class="row sidebar">
						<button type="button" id="emailall" class="btn btn-primary sidebar center-block" data-toggle="modal" href="#basicmodal" data-target="#basicmodal">Email Selected</button>
					</div>
					<div class="row sidebar">
						<button type="button" id="categorize" class="btn btn-primary sidebar center-block" data-toggle="modal" href="#basicmodal" data-target="#basicmodal">Categorize</button>
					</div>
					<div class="row sidebar">
						<button type="button" id="exportdata" class="btn btn-primary sidebar center-block" data-toggle="modal" href="#basicmodal" data-target="#basicmodal">Export</button>
					</div>
				</div>
				<div id="candidates" class="col-md-9">
					<table class="table table-hover" id="candidateTable">
						<thead>
							<tr>
								<th></th>
								<th class="vert-align">Name<span class="glyphicon glyphicon-triangle-bottom"></span></th>
								<th class="vert-align">Rating<span class="glyphicon glyphicon-triangle-bottom"></span></th>
								<th>
									<input type="checkbox" value="" onclick="selectAll(this)">
								</th>
							</tr>
						</thead>
						<tbody id="body">
							{% for profile in profiles %}
							<tr>
								<td class="vert-align">
									<img src="{{profile.pictureUrl}}" alt="studentPic" class="profilepic">
								</td>
								<td class="vert-align" data="{{profile.fname}} {{profile.lname}}">
									<a href="/profile?id={{profile.id}}">{{profile.fname}} {{profile.lname}}</a>
								</td>
								<td class="vert-align" data="{{profile.stars}}">
									<div class="acidjs-rating-stars">
										<form id="starsForm">
											<input {% if profile.stars==5 %} checked {% endif %} type="radio" name="group-1" id="star5" value="5" />
											<label for="star5"></label>
											<input {% if profile.stars==4 %} checked {% endif %} type="radio" name="group-1" id="star4" value="4" />
											<label for="star4"></label>
											<input {% if profile.stars==3 %} checked {% endif %} type="radio" name="group-1" id="star3" value="3" />
											<label for="star3"></label>
											<input {% if profile.stars==2 %} checked {% endif %} type="radio" name="group-1" id="star2" value="2" />
											<label for="star2"></label>
											<input {% if profile.stars==1 %} checked {% endif %} type="radio" name="group-1" id="star1" value="1" />
											<label for="star1"></label>
										</form>
									</div>
								</td>
								<td class="vert-align">
									<input type="checkbox" value="">
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
