<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
	<head>
		<title>Auctora</title>
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../libs/jSignature.min.js"></script>
    <script type="text/javascript" src="../js/profile.js"></script>
		<link rel="stylesheet" href="../css/questions.css">
    <link rel="stylesheet" href="../css/canvas.css"></link>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/rating.css">
	</head>


  <body>

      <h1>{{ profile.fname }} {{ profile.lname }}</h1>
      <img src="{{ profile.pictureUrl }}" alt="profilePic">
      <h3>{{ profile.headline }}</h3>
      <p>{{ profile.industry }}</p>
      <p>{{ profile.location }}</p>
      <a href="{{ profile.profileUrl }}">LinkedIn Profile</a>

      <h3>Rate</h3>
      <div class="acidjs-rating-stars">
          <form id="starsForm">
              <input {% if profile.stars == 5 %} checked {% endif %} type="radio" name="group-1" id="star5" value="5" /><label for="star5"></label>
              <input {% if profile.stars == 4 %} checked {% endif %} type="radio" name="group-1" id="star4" value="4" /><label for="star4"></label>
              <input {% if profile.stars == 3 %} checked {% endif %} type="radio" name="group-1" id="star3" value="3" /><label for="star3"></label>
              <input {% if profile.stars == 2 %} checked {% endif %} type="radio" name="group-1" id="star2" value="2" /><label for="star2"></label>
              <input {% if profile.stars == 1 %} checked {% endif %} type="radio" name="group-1" id="star1"  value="1" /><label for="star1"></label>
          </form>
      </div>
      <br />

      {% if positions %}
      <h3>Experience</h3>
      {% endif %}

      {% for position in positions %}
      <h4>{{position.title}}</h4>
      <p>{{position.company}}</p>
      <p>{{position.startMonth}}/{{position.startYear}}-
      {% if position.isCurrent %}
        Present
      {% else %}
        {{position.endMonth}}/{{position.endYear}}
      {% endif %}</p>

      <p>{{position.description}}</p>
      {% endfor %}

      <button id="submit" type="submit">Done</button>

      <br><br><br>
      <div id="canvasParent">
        <div id="canvas">
          <canvas class="jSignature" width="585" height="146">
          </canvas>
        </div>
        <button id="canvasDone" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Done
        </button>
      </div>
  </body>

</html>
