<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
	<head>
		<title>Auctora</title>
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<link rel="stylesheet" href="../css/questions.css">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/rating.css">
	</head>
  <body>

    <h1>Your Students</h1>
    <ul id="students">
      {% for profile in profiles %}
      <li>
        <img src="{{profile.pictureUrl}}" alt="studentPic">
        <p>{{profile.fname}} {{profile.lname}}</p>
        <div class="acidjs-rating-stars">
          <form id="starsForm">
              <input {% if profile.stars == 5 %} checked {% endif %} type="radio" name="group-1" id="star5" value="5" /><label for="star5"></label>
              <input {% if profile.stars == 4 %} checked {% endif %} type="radio" name="group-1" id="star4" value="4" /><label for="star4"></label>
              <input {% if profile.stars == 3 %} checked {% endif %} type="radio" name="group-1" id="star3" value="3" /><label for="star3"></label>
              <input {% if profile.stars == 2 %} checked {% endif %} type="radio" name="group-1" id="star2" value="2" /><label for="star2"></label>
              <input {% if profile.stars == 1 %} checked {% endif %} type="radio" name="group-1" id="star1"  value="1" /><label for="star1"></label>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>

    <form action="/studentSearch">
      Search Students
      <input type="submit">
    </form>
  </body>
</html>
